* {
    box-sizing: border-box;
}

.column {
    margin-left: 70px;
    float: left;
    width: 20%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

#HILFEMIR {
    margin-left: 600px;
}

#HILFEMIREINEM {
    margin-left: 630px;
}

#HILF {
    margin-left: 620px;
}

#gdrflag {
    margin-left: 500px;
}

#comecon {
    margin-left: 520px;
}

#sowjetflag {
    margin-left: 460;
}
